In [2]:
# clean data

import pandas as pd

df = pd.read_csv(
    r"D:\1. KULIAH\1.PROFESSIONAL NEEDS\data analysis\lat_analisis_transaksi_ecommerce\ecommerce_sales.csv")
df.head()

,order_id,order_date,product_name,category,price,quantity,total_sales,customer_city,payment_method
0,TRX0001,2024-03-03,House Wireless,Electronics,408786,3,1226358,Bandung,COD
1,TRX0002,2024-04-18,USB Hub,Electronics,65580,5,327900,Jakarta,ShopeePay
2,TRX0003,2024-06-03,Keyboard Mechanical,Electronics,141981,5,709905,Jakarta,Dana
3,TRX0004,2024-04-24,Topi Bucket,Fashion,239949,2,479898,Medan,TF Bank
4,TRX0005,2024-03-28,Keyboard Mechanical,Electronics,386026,4,1544104,Pontianak,COD

In [ ]:
df.info() #buat cek tipedata

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        500 non-null    object
 1   order_date      500 non-null    object
 2   product_name    500 non-null    object
 3   category        500 non-null    object
 4   price           500 non-null    int64
 5   quantity        500 non-null    int64
 6   total_sales     500 non-null    int64
 7   customer_city   500 non-null    object
 8   payment_method  500 non-null    object
dtypes: int64(3), object(6)
memory usage: 35.3+ KB

In [ ]:
df.describe() #buat lihat statistik awal

               price    quantity   total_sales
count     500.000000  500.000000  5.000000e+02
mean   247448.988000    2.886000  7.070099e+05
std    135655.377564    1.377243  5.385674e+05
min     20569.000000    1.000000  2.134600e+04
25%    134602.000000    2.000000  2.861835e+05
50%    238101.500000    3.000000  5.833515e+05
75%    365011.000000    4.000000  9.663418e+05
max    498479.000000    5.000000  2.466865e+06

In [ ]:
df.isnull().sum() #cek missing value

order_id          0
order_date        0
product_name      0
category          0
price             0
quantity          0
total_sales       0
customer_city     0
payment_method    0
dtype: int64

In [13]:
# ada tipe data salah. order_date harusnya jadi datetime :(
df["order_date"] = pd.to_datetime(df["order_date"])

In [14]:
df.info() #after diubah tipedatanya

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        500 non-null    object
 1   order_date      500 non-null    datetime64[ns]
 2   product_name    500 non-null    object
 3   category        500 non-null    object
 4   price           500 non-null    int64
 5   quantity        500 non-null    int64
 6   total_sales     500 non-null    int64
 7   customer_city   500 non-null    object
 8   payment_method  500 non-null    object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 35.3+ KB

In [19]:
# kalau mau perbaiki kolom yg salah itung
# df["total_sales"] = df["price"] + df["quantity"]
# df.head()
# wwkwkwk

In [21]:
df.duplicated().sum()
df = df.drop_duplicates()

In [28]:
#cek nilai aneh alias outlier
df["price"].describe()
df["quantity"].describe()
df["total_sales"].describe()

count       500.000000
mean     247451.874000
std      135655.324922
min       20571.000000
25%      134604.500000
50%      238104.500000
75%      365014.500000
max      498480.000000
Name: total_sales, dtype: float64

In [46]:
# standardisasi nama kota/kategori
df["category"] = df["category"].replace({
    "Fastion anjay": "Fashion"
})
df

,order_id,order_date,product_name,category,price,quantity,total_sales,customer_city,payment_method
0,TRX0001,2024-03-03,House Wireless,Electronics,408786,3,408789,Bandung,COD
1,TRX0002,2024-04-18,USB Hub,Electronics,65580,5,65585,Jakarta,ShopeePay
2,TRX0003,2024-06-03,Keyboard Mechanical,Electronics,141981,5,141986,Jakarta,Dana
3,TRX0004,2024-04-24,Topi Bucket,Fashion,239949,2,239951,Medan,TF Bank
4,TRX0005,2024-03-28,Keyboard Mechanical,Electronics,386026,4,386030,Pontianak,COD
...,...,...,...,...,...,...,...,...,...
495,TRX0496,2024-04-26,Moisturizer Gel,Beauty,65290,5,65295,Jakarta,TF Bank
496,TRX0497,2024-06-08,Celana Kargo,Fashion,315597,3,315600,Bandung,Gopay
497,TRX0498,2024-05-19,Lip Tint,Beauty,278663,2,278665,Bandung,COD
498,TRX0499,2024-05-18,Powerbank 10000mAH,Electronics,32535,2,32537,Pontianak,ShopeePay
499,TRX0500,2024-03-19,Serum Vitamin C,Beauty,417897,4,417901,Jakarta,COD

In [ ]:
# bersihkan data final
df_bersih = df.copy()
df_bersih.to_csv("ecommerce_sales_clean.csv", index=False)